.button {
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 9px 16px;
  border-radius: 30px;
  background-color: #2d2d2d;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  &:hover {
    opacity: .8;
  }
}

.icon {
  margin-right: 10px;
}

.marker {
  position: absolute;
  left: -6px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #893341;
}