.categories {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  @media (max-width: 768px) {
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
    padding-top: 32px;
    padding-bottom: 24px;
  }
}

.list {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 50px;
  @media (max-width: 768px) {
    background-color: #ffffff;
    width: 100%;
  }
  li {
    padding: 16px;
    width: 142px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:not(:last-child) {
      margin-right: 16px;
    }
    @media (max-width: 768px) {
      min-width: 142px;
    }
  }
}

.item {
  @media (max-width: 768px) {
    background-color: #f4f4f4;
  }
}

.active {
  background-color: #2d2d2d;
  color: #ffffff;
  transition: background-color 0.2s ease-in-out;
}