.counter {
  padding: 5px 8px;
  background-color: #f4f4f4;
  border-radius: 50px;
  display: flex;
  align-items: center;
  @media (max-width: 576px) {
    padding-left: 6px;
    padding-right: 6px;
    height: 32px;
  }
  span {
    padding: 0 20px;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #2d2d2d;
    @media (max-width: 576px) {
      font-size: 16px;
      padding: 0 12px;
    }
  }
  &__point {
    cursor: pointer;
  }
}