.delivery {
  padding-top: 60px;
  padding-bottom: 60px;
  @media (max-width: 576px) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  &__content {
    gap: 30px;
    margin-top: 35px;
    @media (max-width: 576px) {
      margin-top: 0;
    }
  }
}