.product_card {
  display: flex;
  flex-direction: column;
  max-height: 613px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(219, 219, 219, 0.7);
}

.image_block {
  height: 277px;
  @media (max-width: 576px) {
    height: 220px;
  }
  @media (max-width: 375px) {
    height: 180px;
  }
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  @media (max-width: 576px) {
    padding: 16px;
  }
}

.product_name {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2d2d2d;
  margin-bottom: 10px;
  @media (max-width: 576px) {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

.product_desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #2d2d2d;
  margin-bottom: 10px;
  @media (max-width: 576px) {
    margin-bottom: 8px;
  }
}

.price {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #2d2d2d;
  @media (max-width: 576px) {
    font-size: 16px;
    margin-bottom: 8px;
  }
}

.button_info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.button {
  display: flex;
  flex-direction: column;
}

.content_bot {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}