.product_card {
  display: flex;
  flex-direction: column;
  max-height: 613px;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0px 10px 30px rgba(219, 219, 219, 0.7);
}

.image_block {
  height: 277px;
}

.image {
  height: 100%;
  width: 100%;
}

.product_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
}

.product_name {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #2d2d2d;
  margin-bottom: 10px;
}

.product_desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #2d2d2d;
  margin-bottom: 10px;
}

.price {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 20px;
  line-height: 25px;
  color: #2d2d2d;
}

.button {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.content_bot {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.buy_block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  border-radius: 50px;
  padding: 5px 8px;
  button {
    color: #2d2d2d;
  }
  span {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #2d2d2d;
  }
}