.pacman {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
  @media (max-width: 576px) {
    padding-top: 28px;
    padding-bottom: 56px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
    }
  }
}