.menu {
  padding-top: 120px;
  padding-bottom: 60px;
  &__button {
    display: flex;
    justify-content: center;
  }
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.title_sub {
  margin-bottom: 10px;
}

.title_desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.product_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  &__margin {
    margin-bottom: 70px;
  }
}