.menu {
  padding-top: 120px;
  padding-bottom: 60px;
  padding-right: 15px;
  padding-left: 15px;
  &__button {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 576px) {
    padding-top: 56px;
    padding-bottom: 28px;
  }
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.title_sub {
  margin-bottom: 10px;
}

.title_desc {
  font-weight: 300;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #2d2d2d;
  margin-bottom: 30px;
}

.product_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  &__margin {
    margin-bottom: 30px;
  }
  @media (max-width: 1124px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 992px) {
    gap: 24px;
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 576px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
}