.stocks {
  padding-top: 60px;
  padding-bottom: 60px;

  &__slide {
    box-sizing: padding-box;
    min-width: 50%;
    &:not(:last-child) {
      padding-right: 15px;
    }
    &:not(:first-child) {
      padding-left: 15px;
    }
    img {
      width: 100%;
    }
  }
}