.supplements {
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    background-color: #f4f4f4;
    border-radius: 50px;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__sum {
    display: flex;
    align-items: center;
    span:first-child {
      margin-right: 20px;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    border-radius: 50px;
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    span {
      padding: 0 15px;
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      letter-spacing: 0.05em;
      color: #2d2d2d;
    }
    div {
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: rgba($color: #2d2d2d, $alpha: .05);
      cursor: pointer;
      &:hover {
        .supplements__counter__button {
          opacity: 1;
        }
      }
    }
    &__button {
      transition: all 0.2s ease-in-out;
      opacity: 0.5;
      width: 20px;
      height: 20px;
    }
  }
}