.stocks {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  @media (max-width: 576px) {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  &__slide {
    position: relative;
    box-sizing: padding-box;
    min-width: 50%;
    @media (max-width: 576px) {
      min-width: 100%;
    }
    &:not(:last-child) {
      padding-right: 15px;
      @media (max-width: 768px) {
        padding-right: 12px;
      }
      @media (max-width: 576px) {
        padding-right: 0;
      }
    }
    &:not(:first-child) {
      padding-left: 15px;
      @media (max-width: 768px) {
        padding-left: 12px;
      }
      @media (max-width: 576px) {
        padding-left: 0;
      }
    }
    img {
      width: 100%;
    }
  }
}