.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 30px;
  background-color: #2d2d2d;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  &:hover {
    opacity: .8;
  }
}