.popup {
  &__overflow {
    visibility: visible;
    opacity: 0.7;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #2d2d2d, $alpha: 0.7);
    transition: all 0.3s ease-in-out;
  }

  &__content {
    position: absolute;
    width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background-color: #ffffff;
    border-radius: 40px;
    z-index: 100;
    p {
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      color: #2d2d2d;
      margin-bottom: 50px;
      @media (max-width: 576px) {
        margin-bottom: 32px;
      }
    }
    h2 {
      font-weight: 500;
      font-size: 36px;
      line-height: 45px;
      color: #2d2d2d;
      text-align: center;
      @media (max-width: 576px) {
        font-size: 28px;
      }
    }
    @media (max-width: 576px) {
      padding: 32px 16px;
      width: calc(100% - 30px);
    }
  }

  &__close {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #ffffff;
    cursor: pointer;
  }

  &__title {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #893341;
    margin-bottom: 30px;
  }
}