.pagination {
  display: flex;
  align-items: center;
  padding: 5px 100px;
  @media (max-width: 576px) {
    padding-right: 60px;
    padding-left: 60px;
  }
  &__item {
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #dbdbdb;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: #2d2d2d;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__active {
    background-color: #2d2d2d;
  }
}