.main {
  padding-bottom: 120px;
  padding-right: 15px;
  padding-left: 15px;
  @media (max-width: 576px) {
    padding-bottom: 56px;
  }
  &__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
    margin-bottom: 30px;
    @media (max-width: 1124px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 992px) {
      gap: 24px;
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 576px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 16px;
    }
  }
  &__button {
    display: flex;
    justify-content: center;
  }
}