.main {
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  &__product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    @media (max-width: 768px) {
      display: block;
      padding-top: 32px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 40px;
      @media (max-width: 992px) {
        height: auto;
      }
      @media (max-width: 768px) {
        max-height: 400px;
        margin-bottom: 15px;
      }
      @media (max-width: 576px) {
        max-height: 250px;
      }
    }
    margin-bottom: 70px;
    @media (max-width: 576px) {
      margin-bottom: 32px;
    }
  }
  &__header {
    position: relative;
    margin-bottom: 51px;
    @media (max-width: 992px) {
      margin-bottom: 32px;
    }
    h2 {
      font-weight: 300;
      font-size: 36px;
      line-height: 45px;
      color: #2d2d2d;
      margin-bottom: 20px;
      @media (max-width: 992px) {
        margin-bottom: 16px;
      }
      @media (max-width: 576px) {
        font-size: 24px;
      }
    }
    p {
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      letter-spacing: 0.05em;
      color: #2d2d2d;
      margin-bottom: 20px;
      @media (max-width: 992px) {
        margin-bottom: 16px;
      }
    }
    h4 {
      font-weight: 300;
      font-size: 24px;
      line-height: 30px;
      color: #2d2d2d;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #2d2d2d;
      border-radius: 1px;
      @media (max-width: 992px) {
        bottom: -16px;
      }
    }
  }

  &__body {
    position: relative;
    margin-bottom: 41px;
    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 1px;
      background: #2d2d2d;
    }
  }

  &__sizes {
    margin-bottom: 30px;
    h5 {
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      color: #2d2d2d;
      margin-bottom: 20px;
    }
    label {
      input {
        margin-right: 5px;
      }
      span {
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #2d2d2d;
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &__portions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (max-width: 768px) {
      display: block;
    }
    h6 {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #2d2d2d;
      margin-bottom: 20px;
    }
  }
  &__portionsBlock {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 20px;
  }
  &__portionsList {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  &__portionsItem {
    span {
      display: flex;
      &:first-child {
        margin-bottom: 5px;
        font-weight: 500;
        font-size: 16px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #2d2d2d;
      }
      &:last-child {
        font-weight: 300;
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0.05em;
        color: #2d2d2d;
      }
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__portionsDesc {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #893341;
  }

  &__footer {
    display: flex;
  }

  &__button {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.wrapper {
  position: relative;
  padding-top: 200px;
  padding-bottom: 200px;
}

.loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  height: 60px;
  width: 160px;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.circles {
  position: absolute;
  left: -5px;
  top: 0;
  height: 60px;
  width: 180px;
}
.circles span {
  position: absolute;
  top: 25px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background-color: #dbdbdb;
}
.circles span.one {
  right: 80px;
}
.circles span.two {
  right: 40px;
}
.circles span.three {
  right: 0px;
}
.circles {
  -webkit-animation: animcircles 0.5s infinite linear;
  animation: animcircles 0.5s infinite linear;
}
@-webkit-keyframes animcircles {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px);
  }
}
@keyframes animcircles {
  0% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(-40px, 0px);
    transform: translate(-40px, 0px);
  }
}
.pacman {
  position: absolute;
  left: 0;
  top: 0;
  height: 60px;
  width: 60px;
}
.pacman .eye {
  position: absolute;
  top: 10px;
  left: 30px;
  height: 7px;
  width: 7px;
  border-radius: 7px;
  background-color: #ffffff;
}
.pacman span {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
}
.pacman span::before {
  content: "";
  position: absolute;
  left: 0;
  height: 30px;
  width: 60px;
  background-color: #e4cba0;
}
.pacman .top::before {
  top: 0;
  border-radius: 60px 60px 0px 0px;
}
.pacman .bottom::before {
  bottom: 0;
  border-radius: 0px 0px 60px 60px;
}
.pacman .left::before {
  bottom: 0;
  height: 60px;
  width: 30px;
  border-radius: 60px 0px 0px 60px;
}
.pacman .top {
  -webkit-animation: animtop 0.5s infinite;
  animation: animtop 0.5s infinite;
}
@-webkit-keyframes animtop {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@keyframes animtop {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.pacman .bottom {
  -webkit-animation: animbottom 0.5s infinite;
  animation: animbottom 0.5s infinite;
}
@-webkit-keyframes animbottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@keyframes animbottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
