.main {
  padding-bottom: 120px;
  &__order {
    padding: 50px;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(219, 219, 219, 0.7);
    border-radius: 40px;
  }
  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 61px;
    &::before {
      content: '';
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #2d2d2d;
      border-radius: 1px;
    }
  }
  &__orderName {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #2d2d2d;
  }
  &__time {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    color: #2d2d2d;
  }

  &__content {
    position: relative;
    margin-bottom: 41px;
    &::before {
      content: '';
      position: absolute;
      bottom: -20px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #2d2d2d;
      border-radius: 1px;
    }
  }
  &__contentItem {
    display: grid;
    grid-template-columns: 9fr 2fr 1fr;
    h5 {
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      color: #2d2d2d;
    }
    span {
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      color: #2d2d2d;
      &:last-child {
        display: flex;
        justify-content: end;
      }
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__total {
    display: grid;
    grid-template-columns: 9fr 2fr 1fr;
    margin-bottom: 50px;
    h5 {
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      color: #2d2d2d;
    }
    span {
      font-weight: 300;
      font-size: 20px;
      line-height: 25px;
      color: #2d2d2d;
      &:last-child {
        display: flex;
        justify-content: end;
      }
    }
  }

  &__footer {
    display: flex;
    align-content: center;
    justify-content: space-between;
    button {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
      color: #893341;
    }
  }
  &__status {
    span {
      &:first-child {
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
        color: #2d2d2d;
        margin-right: 20px;
      }
      &:last-child {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        text-align: right;
        color: #858a73;
      }
    }
  }
}