.main {
  h4 {
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #2d2d2d;
    margin-bottom: 50px;
  }

  &__supplements {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    @media (max-width: 1124px) {
      grid-template-columns: repeat(5, 1fr);
    }
    @media (max-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
}

.active {
  background-color: red;
}